h2 {
    color: #7A284E;
}

.card {
    background-color: white;
  }

.card__content{
    color: #5F564D;
}

body { 
    width: 375px;
    height: 1872px;
}

.eerste{
    height: 216px;
    width: 311px;
}

.tweede{
    padding-top: 32px;
    height: 196px;
    width: 311px;
}

.derde{
    padding-top: 32px;
    height: 228px;
    width: 311px;
    padding-bottom: 32px;
}

.vierde{
    padding-top: 32px;
    height: 668px;
    width: 311px;
    padding-bottom: 32px;
}

.vijfde{
    padding-top: 32px;
    height: 292px;
    width: 311px;
}

.card__list-a{
    background-color: #FFF7FB;
    border-radius: 20px;
    color: black;
}

.card__list-b li{
    padding-bottom: 10px;
    padding-left: 50px;
}

.card__list-d li{
    border-bottom: 1px solid rgb(178, 169, 169);
}

.card__img{
    height: 171px;
    width: 375px;
    border-radius: 20px;
}

.vijfde {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card__list-d {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

strong {
    color: #312E2C;
}

