
.young-serif-regular h1 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
h2 {
    
    color: #854632;
}

.card {
    /* max-width: 500px; */
    background-color: white;
    margin: 0 32px;
  }

.card__content{
    color: #5F564D;
}

body { 
    max-width: 430px;
    height: 1600px;
}
.card__list-a h2{
    color: #7A284E;

}

/* .eerste{
    height: 216px;
    width: 311px;
}

.tweede{
    padding-top: 32px;
    height: 196px;
    width: 311px;
}

.derde{
    padding-top: 32px;
    height: 228px;
    width: 311px;
    padding-bottom: 32px;
}

.vierde{
    padding-top: 32px;
    height: 668px;
    width: 311px;
    padding-bottom: 32px;
}

.vijfde{
    padding-top: 32px;
    height: 292px;
    width: 311px;
} */



.card__list-a{
    background-color: #FFF7FB;
    border-radius: 20px;
    /* color: black; */
}

.card__list-b li{
    padding-bottom: 10px;
}

.card__list-d li{
    border-bottom: 1px solid rgb(178, 169, 169);
}

.card__list-d {
    /* margin: 0;
    padding: 0; */
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card__img{
    width: 100%;
    border-radius: 20px;
}
strong {
    color: #312E2C;
    font-weight: 600;
}

